*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main {
    padding: 25px;
}
.container{
    width:800px;
    background: darkgrey;
    border: 1px solid black;
    border-radius: 15px;
    margin: 0 auto;
}
.button{
    background: black;
}
.main__contentUp{
    text-align: center;
}
.main__contentUp__first{
    margin: 15px;
    width: 100%;
}
.main__contentUp__first__button , .main__contentUp__second__button{
    width: 100px;
    margin: 25px 10px 25px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 5px;
    background: #d19dee;
    text-align: center;
    color: rgb(115, 112, 112);
    cursor: pointer;
}
.main__contentUp__first__button__add{
    width: 100px;
    margin: 25px 10px 25px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 30px;
    background: #d19dee;
    text-align: center;
    color: rgb(115, 112, 112);
    cursor: pointer;
}
.input{
    background: white;
    width: 250px;
    border-radius: 5px;
    padding: 10px 30px;
}
input::placeholder{
    color: #d3cdcd;
    text-align: center;
}
.SomeText1, .SomeText2{
    color: rgb(115, 112, 112);
    font-size: 18px;
    margin: 10px;
}
.main__contentUp__second{
    margin: 15px;
}
.main__contentUp__second__button1, .main__contentUp__second__button2{
    width: 150px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    background: #d19dee;
    text-align: center;
    color: rgb(115, 112, 112);
}
.main__contentUp__second__button__input{

    width: 100px;
    border-radius: 5px;
    padding: 10px 20px;
}


.main__contentDown{
width: 100%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.main__contentDown__first{
    width: 50%;
    background: #424141;
    border: 1px solid black;
    border-radius: 15px;
   margin: 0 auto;
    padding: 10px;
    position: relative;
}
.main__contentDown__first__SomeText, .main__contentDown__second__SomeText{
    text-align: center;
    color: rgb(115, 112, 112);
    margin: 0px auto;
    border: 1px solid white;
    border-radius: 5px;
    background: whitesmoke;
    width: 60%;
    padding: 10px;
    margin-right: 85px;
}


.text{
    display: flex;
    justify-content: right;
}
.DateText{
    text-align: center;
    color: rgb(115, 112, 112);
    border: 1px solid white;
    border-radius: 5px;
    background: whitesmoke;
    width: 20%;
}
.main__contentDown__second{
    width: 50%;
    background: darkgrey;
    border: 1px solid black;
    border-radius: 15px;
    margin: 10px auto;
    padding: 10px;
    position: relative;
}

.leftInput[type=checkbox] {
    margin-right: 100px;
    content:"";
    position: absolute;
    bottom: 42px;
    right: 250px;
}
.rightInput[type=checkbox] {
    margin-right: 100px;
    content:"";
    position: absolute;
    bottom: 60px;
    left: 365px;
}